h2 {
  padding-top: 20px;
  font-size: 40px;
  color: rgb(11, 238, 87);
  
}
.container,
.row {
  height: 100vh;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: aliceblue;
}
